// Helpers: Font Size
// ==================
@use "sass:math";
@function calculate-rem($size) {
    $rem-size: math.div($size, 14px);
    @return $rem-size * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculate-rem($size);
}

@mixin line-height($size) {
    line-height: $size;
    line-height: calculate-rem($size);
}
