// Variables: Palette
// ==================
$brand-color-primary: var(--brand-color-primary);
$brand-color-secondary: var(--brand-color-secondary);
$brand-color-highlight: var(--brand-color-highlight);

//
$white: #FFFFFF;
$black: #000000;
$grey: #C4C4C4;
$dark-grey: #D7D7D7;
$light-grey: #F1F1F1;
$hover-grey: #EAEAEA;
$light-black: #3F4347;
$mud-blue: #376080;
$orange: #FF7A00;
$red: #FF0000;

// Bootstrap variables
$primary: #337ab7;
$danger: #d9534f;
$success: #5cb85c;
