// Variables: Typography
// =====================
// Font families
$font-base-regular: 'Open Sans', sans-serif;
$font-heading-regular: 'Roboto', sans-serif;

//  Links
$link-color: $dark-grey;
$link-hover-color: $light-black;
