.js-admin-session {
    &--also-here {
        &:empty {
            display: none;
        }

        @extend .alert;

        position: sticky;
        top: 5px;
        z-index: 1;
        margin-bottom: 1rem;
        padding: 1rem 1.25rem;
        background-color: rgb(241, 112, 0);
        border-color: rgb(200, 93, 0);
        color: #ffffff;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline;
                margin: 0;
                padding: 0;
                line-height: 1.5;

                &:after {
                    content: ', ';
                }

                &:first-child {
                    &:after {
                        content: ' ';
                    }
                }

                &:last-child {
                    &:after {
                        content: '';
                    }
                }
            }
        }

        .name {
            font-weight: bold;
        }
    }
}
